@import "../../select2/select2";

.select2.select2-container {
  width: 100% !important;
  display: block;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
