<nav class="header navbar navbar-toggleable-md navbar-light fixed-top bg-caresq">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#global-header"
          aria-controls="global-header" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to root_path, class: 'navbar-brand logo' do %>
    ケアスク<span class="beta">β</span>
  <% end %>

  <div class="collapse navbar-collapse" id="global-header">
    <div class="mr-auto"></div>
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
