<div class="container">
  <div class="<%= flex_spacing %>">
    <div class="jumbotron">
      <div class="text-center">
        <p class="lead">ページが表示できません</p>
        <hr class="my-4"/>
        <p class="text-muted">
          ご不便をおかけして申し訳ありません。<br/>
          繰り返し操作しても問題が発生する場合は、<a href="mailto:info@caresq.jp" role="button">こちら</a>からお問い合わせください。
        </p>
      </div>
    </div>
  </div>
</div>

