@import "bootstrap";

body {
  padding-top: 5rem;
  margin-bottom: 5rem;
  font-family: "Noto Sans Japanese", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  min-height: 100%;
}
