/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "settings";
@import "bootstrap";

::-webkit-input-placeholder {
  color: #ccc !important;
}
:-moz-placeholder {
  color: #ccc !important;
}

@mixin cs-box-shadow {
  box-shadow: 0 .25rem .25rem #ccc;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  margin-bottom: 5rem;
  font-family: "Noto Sans Japanese", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #eee;
  min-height: 100%;
}

.header {
  .logo {
    font-family: "Mplus 1p", sans-serif;
    font-weight: bold;

    .beta {
      margin-left: .1rem;
      font-style: italic;
      font-size: 70%;
    }
  }

  .user-icon {
    padding: 0;
    width: 1.8rem;
    top: .4rem;
    left: .5rem;
    position: absolute;
  }

  .info {
    width: 2.375rem;
    height: 2.375rem;
    padding: 0;
    position: relative;
    @extend .text-center;

    &-icon {
      position: absolute;
      left: 0;
      right: 0;
      top: .1rem;
      margin: 0 auto;
      font-size: 1.25rem;
      line-height: 2.375rem;
    }
  }
}


.bg-caresq {
  background-color: $cs-primary-color;
  box-shadow: 0 .125rem .125rem $cs-primary-color-dark;
}

.bg-white {
  background-color: #fff;
}

.text-silence {
  color: #999;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $cs-primary-color;
  box-shadow: 0 -.125rem .125rem $cs-primary-color-dark inset;

  a {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
    padding: .5rem;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.pagination li {
  @include cs-box-shadow();
}

.badge-tag {
  background-color: $cs-primary-color;
  color: #444;
}


.post-list {
  &__item {
    padding: 1rem;
    background-color: #fff;
    @include cs-box-shadow();
    margin-bottom: 1rem;

    &-wrapper {
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }
  }
}

.post-detail {
  &__content {
    padding: 2rem;
    background-color: #fff;
    @include cs-box-shadow();

    &-wrapper {
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }

    &-body {
      overflow: hidden;

      &-wrapper {
        position: relative;
      }
    }
  }

  &__readmore {
    display: none;
    color: $link-color;
    cursor: pointer;
    width: 100%;
    text-align: right;
    height: 1rem;
    line-height: 1rem;
    padding-right: 1rem;
    margin-bottom: .5rem;
    font-size: .8rem;

    &:before {
      width: 100%;
      position: absolute;
      content: ' ';
      display: block;
      bottom: 1.5rem;
      height: 3rem;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
  }
}

.comment-list {
  &__item {
    padding: 2rem;
    background-color: #fff;
    @include cs-box-shadow();

    &-wrapper {
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.pagination-fill {
  .page-item {
    flex: 1 1 auto;
    text-align: center;
  }
  .page-link {
    padding: 0.75rem 0;
  }
  &-wrapper {
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }
}
