/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *  require_tree .
 *  require bootstrap
 *  require_self
 */

$brand-primary: #1334CB;

//$border-radius:    .12rem;
//$border-radius-lg: .14rem;
//$border-radius-sm: .1rem;
$navbar-toggler-border-radius: 0;
$navbar-light-toggler-border: transparent;

$cs-primary-color-light: #ffe47a;
$cs-primary-color: #ffd328;
$cs-primary-color-dark: #ddb103;

@mixin cs-box-shadow {
  box-shadow: 0 4px 4px #ccc;
}

@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  margin-bottom: 5rem;
  font-family: "Noto Sans Japanese",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: #eee;
  min-height: 100%;
}

.wf-nicomoji {
  font-family: "Nico Moji", sans-serif;
}

.navbar {
  background-color: $cs-primary-color;
  box-shadow: 0 2px 2px $cs-primary-color-dark;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $cs-primary-color;
  box-shadow: 0 -2px 2px $cs-primary-color-dark inset;

  a {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.5);
    padding: .5rem;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.pagination li {
  @include cs-box-shadow();
}

.badge-tag {
  background-color: $cs-primary-color;
  color: #444;
}


.post-list {
  &__item {
    padding: 16px;
    background-color: #fff;
    @include cs-box-shadow();
    margin-bottom: 16px;

    &-wrapper {
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }
  }
}

.post-detail {
  &__content {
    padding: 32px;
    background-color: #fff;
    @include cs-box-shadow();

    &-wrapper {
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }
  }
}

.comment-list {
  &__item {
    padding: 32px;
    background-color: #fff;
    @include cs-box-shadow();

    &-wrapper {
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }
  }
}

.hidden {
  display: none;
}
