@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

.top-wrapper {
  margin-top: -3.4rem;
  height: 12rem;
  position: relative;

  @include media-breakpoint-up(sm) {
    height: 15rem;
  }
  @include media-breakpoint-up(md) {
    height: 18rem;
  }
  @include media-breakpoint-up(lg) {
    height: 21rem;
  }
  @include media-breakpoint-up(xl) {
    height: 24rem;
  }
}

.top-background {
  background: image-url('top.svg') center;
  background-size: cover;
  top: 0;
  position: absolute;
  height: 14rem;
  width: 100%;

  @include media-breakpoint-up(sm) {
    height: 17rem;
  }
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
  @include media-breakpoint-up(lg) {
    height: 23rem;
  }
  @include media-breakpoint-up(xl) {
    height: 26rem;
  }
}
